.appCard{
  box-shadow: 0 0 3px rgba(0,0,0,.17)!important;
}

.ant-card-body{
  padding:10px !important;
}
.ant-card-head-title{
  padding:0px !important;
  
}
.ant-card-head{
  min-height: 29px !important;
  padding:10px !important;
  
}

.ant-page-header{
  box-shadow: 0 0 3px rgba(0,0,0,.17)!important;
}